@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --main-color: #c2ff83;
  --black-color: #000000;
  --white-color: #ffffff;
  --font-figtree: "Figtree", sans-serif;
  --font-sora: "Sora", sans-serif;
}

img {
  max-width: 100%;
}

figure {
  overflow: hidden;
}


/* ============================================================================================  */
/* ============================================================================================  */
/* Button */

/* Talk Button */
#talk-btn {
  transition: ease-in-out 0.6s;
  background-color: var(--btn-bg);
  color: var(--btn-color);
}

#talk-btn:hover {
  transform: translateY(4px);
  background-color: var(--btn-hover-bg) !important;
  color: var(--btn-hover-color) !important;
}

#talk-btn::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0%;
  position: absolute;
  content: "";
  background-color: var(--btn-hover-bg);
  transition: 0.3s ease-out;
  border-radius: 100%;
}

#talk-btn:hover::before {
  width: 100%;
}

#talk-btn:hover span {
  color: var(--btn-hovercolor);
}


/* CommonBtn Like Learn More or Read More */
#CommonBtn {
  transition: all 0.8s ease-in-out;
  min-width: 161px;
  height: 48px;
}

@media (max-width: 640px) {
  #CommonBtn{
    min-width: 131px;
    height: 40px;
  }
}

/* ============================================================================================  */
/* ============================================================================================  */
/* Navbar */

#navLinks a,
#footLinks a {
  font-family: var(--font-figtree);
  position: relative;
  transition: color 0.3s ease;
}

#navLinks a::after,
#footLinks a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: width 0.3s ease;
}

#navLinks a:hover::after,
#footLinks a:hover::after {
  width: 100%;
}


@media (max-width: 1024px) {
  #navLinks {
    display: none !important;
  }
}

@media (max-width: 480px) {
  #nav-btn {
    display: none !important;
  }
}
/* ============================================================================================  */
/* ============================================================================================  */
/* FOOTER */

@media (max-width: 850px) {
  #footer-logo-image {
    position: absolute;
    top: -10px;
  }
}

@media (max-width: 764px) {
  #footer-logo-image {
    position: absolute;
    top: 60px;
  }
}
/* ============================================================================================  */
/* ============================================================================================  */
/* Home Page */

#expertDriven::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 5px;
  background-color: var(--black-color);
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .home-hero {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .hero-1-figure {
    display: none;
  }
}

.hero-img figure img {
  transition: ease-in-out 1s;
}

.hero-img figure:hover img {
  transform: scale(1.02);
  border-radius: 30px;
}

/* service */

.services {
  display: grid;
  grid-template-columns: 7% 89%;
  border-top: 1px solid #dfdfdf;
  transition: ease-in-out 0.6s;
  padding: 10px 0 10px 40px;
}
.services:hover {
  border-top: 1px solid var(--main-color);
  border-radius: 25px;
  background-color: var(--main-color);
}
.services:hover a {
  background: var(--white-color);
  border: 1px solid transparent;
}

#serviceHiddenImage {
  transition: 0.6s all;
}

.services:hover #serviceHiddenImage figure {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);
}

#serviceHiddenImage figure {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -173px;
  left: 50%;
  z-index: 10;
  transform: translateX(0);
  transition: 0.6s ease-in-out;
}

.services .inner-service-div {
  display: grid;
  grid-template-columns: 61% 24% 10%;
}

@media (max-width: 1532px) {
  #serviceHiddenImage figure {
    top: -143px;
    left: 50%;
  }
}

@media (max-width: 1280px) {
  #serviceHiddenImage figure {
    top: -113px;
    left: 50%;
  }
}

@media (max-width: 1024px) {
  .services {
    padding: 10px 26px 10px 26px;
  }

  #serviceHiddenImage figure {
    display: none;
  }
}

@media (max-width: 740px) {
  .services .inner-service-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .services:hover {
    background-color: var(--white-color);
    border-top: 1px solid #dfdfdf;
    border-radius: 0px;
  }
  .services a:hover {
    background: var(--main-color);
    border: 1px solid transparent;
  }

  .services:hover a {
    border: 1px solid black;
  }
}

@media (max-width: 650px) {
  #serviceImg {
    display: none;
  }

  .services {
    grid-template-columns: 100%;
  }
}
/* ============================================ PAGES */

#AboutUs-text::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 3px;
  background-color: var(--white-color);
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#About-Stats div span {
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: var(--font-figtree);
  color: var(--white-color);
}

#About-Stats div p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 22px;
  color: var(--white-color);
}

@media (max-width: 764px) {
  #About-Stats div span {
    font-size: 50px;
    line-height: 60px;
  }

  #About-Stats div p {
    font-size: 16px;
    line-height: 18px;
  }
}

/* Projects */

.projectDiv div figure {
  border-radius: 35px;
  margin-bottom: 14px;
}

.projectDiv div figure img {
  transition: ease-in-out 1s;
}

.projectDiv div figure:hover img {
  transform: scale(1.02);
  border-radius: 35px;
}

.projectShocaseName {
  background-color: var(--white-color);
  color: var(--primary--color);
  padding: 5px 21px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 14px;
  display: inline-block;
  margin-left: 10px;
}

.showcaseHeading {
  font-family: var(--font-figtree);
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
}

.projectDiv:hover .projectArrow {
  background: var(--main-color);
  border: 2px solid transparent;
}

@media (max-width: 1024px) {
  .showcaseHeading {
    font-size: 26px;
  }
}

/* testimonial*/
.testimonialImageHover{
  overflow:visible !important;
}
.testimonialImageHover img{
  transition: 0.6s ease-in-out;
}

.testimonialImageHover img:hover{
  transform: translateY(-10px);
}

/* sliders */
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: var(--swiper-pagination-bottom, 8px);
	top: var(--swiper-pagination-top, auto);
	left: 0px;
	width: 100%;
}

.swiper-pagination {
	position: absolute;
	text-align: right;
	transition: 300ms opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-pagination-bullet {
	background: var(--main-color);
  border-radius: 0px;
  width: 30px;
  height: 6px;
}

@media (max-width: 580px) {
  .swiper-pagination-bullet{
    display: none;
  }
}

/* Blog card*/

.BlogFigure img{
  transition: 0.6s ease-in-out;
  border-radius: 24px;
}

.BlogFigure img:hover {
	transform: scale(1.02);
	border-radius: 24px;
}

/* newsletter */

#newletterForm input{
	position: relative;
	font-size: 14px;
	min-width: 533px;
	height: 69px;
	line-height: 20px;
	font-weight: 400;
	color: #aaa;
	background-color: var(--white-color);
	border-radius: 35px;
	padding: 12px 15px 12px 35px;
	margin-bottom: 21px;
	width: 100%;
	border: 1px solid transparent;
	overflow: visible;
	outline: none;
}

#newletterForm button{
	font-size: 16px;
	color: var(--white-color);
	background-color: var(--black-color);
	border-radius: 100%;
	width: 55px;
	height: 55px;
	line-height: 55px;
	border: none !important;
	float: right;
	position: absolute;
	top: 7px;
	right: 9px;
	overflow: visible;
	outline: none;
	transition: all 0.6s ease-in-out;
}