@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --main-color: #c2ff83;
  --black-color: #000000;
  --white-color: #ffffff;
  --font-figtree: "Figtree", sans-serif;
  --font-sora: "Sora", sans-serif;
}
img {
  max-width: 100%;
}
/* ============================================================================================  */
/* Button */
#nav-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 15.4px;
}

#talk-btn {
  width: 172px;
  height: 172px;
  transition: ease-in-out 0.6s;
  margin-left: 39px;
  position: relative;
}

#talk-btn:hover {
  transform: translateY(4px);
  background-color: var(--black-color) !important;
  color: var(--white-color) !important;
}

#talk-btn::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0%;
  position: absolute;
  content: "";

  background-color: var(--black-color);
  transition: 0.3s ease-out;
  border-radius: 100%;
}

#talk-btn:hover::before {
  width: 100%;
}

#talk-btn:hover span {
  color: var(--white-color);
}


@media (max-width: 768px) {
  #talk-btn {
  width: 140px;
  height: 140px
}
}

/* Navbar */

#navLinks a,
#footLinks a {
  font-family: var(--font-figtree);
  position: relative;
  transition: color 0.3s ease;
}

#navLinks a::after,
#footLinks a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: width 0.3s ease;
}

#navLinks a:hover::after,
#footLinks a:hover::after {
  width: 100%;
}

#menu {
  display: none !important;
}

@media (max-width: 1550px) {
  nav {
    padding: 16px 180px !important;
  }
}

@media (max-width: 1400px) {
  nav {
    padding: 16px 100px !important;
  }
}

@media (max-width: 1200px) {
  nav {
    padding: 16px 60px !important;
  }

  #navLinks {
    gap: calc(var(--spacing) * 12) !important;
  }
}

@media (max-width: 1000px) {
  #menu {
    display: inherit !important;
  }

  #navLinks {
    display: none !important;
  }

  nav {
    padding: 16px 26px !important;
  }
}

@media (max-width: 430px) {
  #nav-btn {
    display: none !important;
  }
}

/* FOOTER */

@media (max-width: 850px) {
  #footer-logo-image {
    position: absolute;
    top: -10px;
  }
}

@media (max-width: 764px) {
  #footer-logo-image {
    position: absolute;
    top: 60px;
  }
}

/* ========================================= HOME */

#expertDriven::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 5px;
  background-color: var(--black-color);
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .home-hero{
  display: grid;
  place-items: center;
  text-align: center;
  gap: 20px;  
}
}

@media (max-width: 550px) {
  figure{
    display: none;
  }
}